@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Outfit';
  color: #FFFFFF;
  background: rgba(18, 20, 29, 1)
}

.gradient-bg {
  background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
}

.gradient-hover:hover {
  background: linear-gradient(94.25deg, #5C7FFF 0%, #CB5CFF 100%);
}

.gradient-hover:active {
  background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
}


.gradient-btn {
  background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
  border-radius: 5px;
}

.gradient-btn:hover {
  background: linear-gradient(94.25deg, #5C7FFF 0%, #CB5CFF 100%);
}

.gradient-btn:active {
  background: linear-gradient(94.25deg, #0035F5 0%, #A600F5 100%);
}

.gradient-outline-btn:hover {
  background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  fill: transparent;
  border: 1px solid;
  border-image: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
  border-image-slice: 1;
}

.facebook-color {
  background: linear-gradient(268.28deg, #FFC947 16.84%, #FC6739 84.26%),
    linear-gradient(0deg, #FAFAFA, #FAFAFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.facebook-border {
  background: linear-gradient(268.28deg, #FFC947 16.84%, #FC6739 84.26%),
    linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.customer-say-bg {
  background: linear-gradient(180deg, #171924 0%, rgba(23, 25, 36, 0) 100%);
}

.ellipse-one {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 722px;
  top: 151px;
  background: rgba(159, 54, 242, 0.7);
  filter: blur(177px);
}

.ellipse-two {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 26px;
  top: 378px;

  background: rgba(255, 207, 115, 0.4);
  filter: blur(177px);
}

.ellipse-three {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 1492px;
  top: 577px;

  background: rgba(242, 54, 144, 0.7);
  filter: blur(177px);
}